<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="Chilkat" value="LICENSE"/>

		<add key="Host" value="domain.com"/>
		<add key="Port" value="22"/>
		<add key="UserName" value="username"/>
		<add key="Password" value="password"/>
		
		<add key="SalesDataFile" value="https://inventory.copart.io/FTPLSTDM/salesdata.cgi?authKey=ABCDEFGH"/>
		
		<add key="YardNumbers" value="28,29,61,85,103,111,112,159,166,174,376"/>
		<add key="Makes" value="CHEVROLET,TOYOTA,HONDA,FORD,VOLKSWAGEN,MAZDA,DODGE"/>
		<add key="Models" value="2,3,5,AVALON,AVEO,CAMRY,CIVIC,COBALT,COROLLA,CRUZE,CX-5,FIESTA,FIT,FOCUS,JETTA,NEON,PASSAT,SCION,SONIC,SPARK,YARIS"/>
		<add key="Damage" value="FRONT END,REAR END,ALL OVER,SIDE,MINOR DENT/SCRATCHES,NORMAL WEAR,HAIL,TOP/ROOF,,VANDALISM"/>
		<add key="Odometer" value="150000"/>
		<add key="Drive" value="Front-wheel Drive"/>
		<add key="FuelType" value="GAS"/>
		<add key="Cylinders" value="4,6"/>
		<add key="RunsDrives" value="Run &amp; Drive Verified"/>
		
		<add key="IgnoreLotNumberFile" value="Ignore.txt"/>
		
		<add key="ShowOnlyLotsWithSaleDate" value="true"/>
		
		<add key="IgnoreRepairExceedsValue" value="true"/>

		<add key="AlreadyWatchingFile" value="Watching.txt"/>

	</appSettings>
</configuration>
